.intro {
  margin: auto;
  padding: 91px 142px 62px 142px;
  background-image: url('/assets/bg-types.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 765px;
  max-width: 1316px;

  .introCard__container {
    gap: 36px;

    .intro__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: transparent
        linear-gradient(180deg, #ffffffa6 0%, #ffffff00 100%) 0% 0% no-repeat
        padding-box;
      border: 1px solid #eaecf2;
      border-radius: 7px;
      width: 50%;
      height: 470px;
      padding: 55px 58px;
      margin-bottom: 300px;

      .title {
        font-family: 'Heebo Bold';
        font-size: 30px;
        margin-bottom: 10px;
        color: var(--light-red);
      }

      .subTitle {
        font-size: 25px;
        margin-bottom: 13px;
      }

      .paragraph {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
  }
}
