nav {
  .navbar {
    max-width: 1300px;
    margin: 7px 143px;

    .logo {
      width: 215px;
      height: 52px;
    }

    .navbar__heading,
    .navbar__auth {
      font-family: 'Heebo Medium';
      color: var(--cyan-bleu);
    }

    .navbar__heading {
      font-size: 16px;
      gap: 58px;
    }

    .navbar__auth {
      font-size: 14px;
      gap: 51px;

      .language {
        .icon {
          margin-right: 8.6px;
          font-size: 16px;
        }
      }
    }
  }
}
